<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>749355802935-6igdqc03grvcb99a205e3abggkgqht1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749355802935-6igdqc03grvcb99a205e3abggkgqht1j</string>
	<key>API_KEY</key>
	<string>AIzaSyB-fbDG-jf9DmyEyWOz8G9HgV0fr8jO3rE</string>
	<key>GCM_SENDER_ID</key>
	<string>749355802935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uag.MiPrimeraAnalytics</string>
	<key>PROJECT_ID</key>
	<string>miprimeraanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>miprimeraanalytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749355802935:ios:7b7fff140250e87f</string>
	<key>DATABASE_URL</key>
	<string>https://miprimeraanalytics.firebaseio.com</string>
</dict>
</plist>